
:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}

.container{
  text-align: center;
  margin-top: 25px;
  margin-right: 400px;
  margin-left: 450px;
}
